@import "_mixins";
@import "_vars";

@include includeCommonStyles;
@include ignoreDefaultStyles;


@include scrollStyles;

.archtectHomePage{
    .mainClass{
        .sliderClass{
            width: 100%;
            height: 100vh;
        }
        .two{
            background: $lightViolet;
        }
        .three{
            background: $lightGrey;
        }
        .four{
            background: $primaryViolet;
        }
    }
}