@import "_mixins";
@import "_vars";

@include includeCommonStyles;
@include ignoreDefaultStyles;


@include scrollStyles;

.archtectHomePage{
    .mainClass{
        .sliderClass{
            width: 100%;
            height: 100vh;
        }
        .two{
            background: $lightViolet;
            .navBarStickyClass{
                background: yellow;
            }
            .squareComponent{
                width: 4em;
                height: 4em;
                background: green;
                margin-top: 4em;
            }
        }
        .three{
            background: $lightGrey;
        }
        .four{
            background: $primaryViolet;
        }
    }
}