@import "_mixins";
@import "_vars";


@include includeCommonStyles;
@include ignoreDefaultStyles;


.productView{
    width:100%;
    // height:10.5em;
    margin-top: 1em;

   .innerViewProductLayer{
       @include flexCentreRow;
       justify-content: flex-start;
       width: 100%;
       // margin: 0 auto;
    //    height:10em;

       .arrowButtonContainer{
           width: 3em;
           .leftArrowButton{
               @include flexCentreRow;
               // width:8%;
            //    height: 10.5em;
               cursor: pointer;

               #Left_Arrow{
                   width:3em;
                   height:2em;
                   #polygon{
                       stroke:$semiDarkGrey;
                   }
               }
               &:hover{
                   #Left_Arrow{
                       #polygon{
                           stroke:$secondaryMagenta;
                       }
                   } 
               }
           }

           .rightArrowButton{
               @include flexCentreRow;
               // width:8%;
            //    height: 10.5em;
               cursor: pointer;
               #Right_Arrow{
                   width:3em;
                   height:2em;
                   #polygon{
                       stroke:$semiDarkGrey;
                   }
               }
               &:hover{
                   #Right_Arrow{
                       #polygon{
                           stroke:$secondaryMagenta;
                       }
                   } 
               }
           }
       }
       .imageContainerMiddleLayer{
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        width:84%;
     
            .outerMostLayer{
                width: 95%;
                // background: yellow;
                

                .innerWrapperImage{
                    position: relative;
                    width: 100%;
                    cursor: pointer;

                     .tagContainer{
                         position:absolute;
                         width: 6em;
                         height: 1em;
                         top: 1em;
                         left: -0.2em;
                         background-color: $highLightBlue;
                         transition: 0.2s;

                         p{
                             font-size: 0.6em;
                             color: white;
                             padding-left: 0.5em;
                         }

                         .leftTriangle{

                             width: 0;
                             height: 0;
                             border-top: 0.3em solid rgb(168, 0, 98);
                             border-left: 0.3em solid transparent;
                             margin-top: 0.2em;
                         }

                         .rightTriangle{
                             width: 1em;
                             height: 1em;
                             position: absolute;
                             top: 0;
                             right: -1em;
                             // background: $white;

                             .topTriangle{
                                 width: 0;
                                 height: 0;
                                 border-top: 0.5em solid $highLightBlue;
                                 border-right: 0.5em solid transparent;
                             }

                             .botTriangle{
                                 width: 0;
                                 height: 0;
                                 border-bottom: 0.5em solid $highLightBlue;
                                 border-right: 0.5em solid transparent;
                             }
                         }
                     }
                
                    .productCatalogueImage{
                        @include flexCentreCol;
                        width: 100%;

                        .outerProductImageLayer{
                            @include flexCentreCol;
                            @include box_shadow;
                            width: 97%;
                            padding: 0.4em 0.1em;
                            background: $white;
                            transition: 0.1s;

                            .innerImageLayer{
                                width: 100%;

                                .imgConatiner{
                                    @include flexCentreCol;
                                    align-items: center;
                                    width: 93%;
                                    margin: 0 auto;

                                    .imgOuterLayer{
                                         width:100%;
                                         position: relative;
                                         padding-bottom: 90%;

                                        .imageDetails{
                                             width:100%;
                                             height: 100%;
                                             position: absolute;

                                            .imageDetailsDummyWrap{
                                                 width:100%;
                                                 height:80%;
                                                 
                                                 img{
                                                     width:100%;
                                                     height:100%;
                                                     object-fit: cover;
                                                     filter: saturate(1.25);
                                                     transition: 0.1s;
                                                 }
                                            }

                                            .noTitle{
                                                height: 100%;
                                            }

                                            .imageTitleContainer{
                                                 height: 10%;
                                                 margin-top: 0.2em;

                                                 p{
                                                     color: $darkGrey;
                                                     font-size: 0.8em;
                                                     font-weight: 500;
                                                     text-overflow: ellipsis;
                                                     white-space: nowrap;
                                                     overflow: hidden;
                                                     transition: 0.1s; 
                                                     // opacity: 0.5;                                                   
                                                 }
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }  

                    
                    &:hover{

                     .tagContainer{
                         left: -0.3em;
                     }

                     .outerProductImageLayer{
                         @include box_shadow_dark;

                         .imgOuterLayer{
                             .imageDetails{
                                 
                                 .imageDetailsDummyWrap{
                                     img{
                                         filter: saturate(1.25);
                                     }
                                 }

                                 .imageTitleContainer{
                                    
                                     p{
                                         background: $white;
                                         opacity: 1;
                                         // color: yellow;
                                     }
                                 }
                             }
                         }
                     }
             }

                }

                
            
        }
        
       }

       }
       

    //    .imageContainerMiddleLayer{
    //        display: grid;
    //        grid-template-columns: 1fr 1fr 1fr 1fr;
    //        width:84%;
        
    //            .outerMostLayer{
    //                width: 95%;
    //                // background: yellow;
                   

    //                .innerWrapperImage{
    //                    position: relative;
    //                    width: 100%;
    //                    cursor: pointer;

    //                     .tagContainer{
    //                         position:absolute;
    //                         width: 6em;
    //                         height: 1em;
    //                         top: 1em;
    //                         left: -0.2em;
    //                         background-color: $highLightBlue;
    //                         transition: 0.2s;

    //                         p{
    //                             font-size: 0.6em;
    //                             color: white;
    //                             padding-left: 0.5em;
    //                         }

    //                         .leftTriangle{

    //                             width: 0;
    //                             height: 0;
    //                             border-top: 0.3em solid rgb(168, 0, 98);
    //                             border-left: 0.3em solid transparent;
    //                             margin-top: 0.2em;
    //                         }

    //                         .rightTriangle{
    //                             width: 1em;
    //                             height: 1em;
    //                             position: absolute;
    //                             top: 0;
    //                             right: -1em;
    //                             // background: $white;

    //                             .topTriangle{
    //                                 width: 0;
    //                                 height: 0;
    //                                 border-top: 0.5em solid $highLightBlue;
    //                                 border-right: 0.5em solid transparent;
    //                             }

    //                             .botTriangle{
    //                                 width: 0;
    //                                 height: 0;
    //                                 border-bottom: 0.5em solid $highLightBlue;
    //                                 border-right: 0.5em solid transparent;
    //                             }
    //                         }
    //                     }
                   
    //                    .productCatalogueImage{
    //                        @include flexCentreCol;
    //                        width: 100%;

    //                        .outerProductImageLayer{
    //                            @include flexCentreCol;
    //                            @include box_shadow;
    //                            width: 97%;
    //                            padding: 0.4em 0.1em;
    //                            background: $white;
    //                            transition: 0.1s;

    //                            .innerImageLayer{
    //                                width: 100%;

    //                                .imgConatiner{
    //                                    @include flexCentreCol;
    //                                    align-items: center;
    //                                    width: 93%;
    //                                    margin: 0 auto;

    //                                    .imgOuterLayer{
    //                                         width:100%;
    //                                         position: relative;
    //                                         padding-bottom: 90%;

    //                                        .imageDetails{
    //                                             width:100%;
    //                                             height: 100%;
    //                                             position: absolute;
 
    //                                            .imageDetailsDummyWrap{
    //                                                 width:100%;
    //                                                 height:80%;
                                                    
    //                                                 img{
    //                                                     width:100%;
    //                                                     height:100%;
    //                                                     object-fit: cover;
    //                                                     filter: saturate(1.25);
    //                                                     transition: 0.1s;
    //                                                 }
    //                                            }

    //                                            .noTitle{
    //                                                height: 100%;
    //                                            }

    //                                            .imageTitleContainer{
    //                                                 height: 10%;
    //                                                 margin-top: 0.2em;

    //                                                 p{
    //                                                     color: $darkGrey;
    //                                                     font-size: 0.8em;
    //                                                     font-weight: 500;
    //                                                     text-overflow: ellipsis;
    //                                                     white-space: nowrap;
    //                                                     overflow: hidden;
    //                                                     transition: 0.1s; 
    //                                                     // opacity: 0.5;                                                   
    //                                                 }
    //                                            }
    //                                        }

    //                                    }
    //                                }
    //                            }
    //                        }
    //                    }  

                       
    //                    &:hover{

    //                     .tagContainer{
    //                         left: -0.3em;
    //                     }

    //                     .outerProductImageLayer{
    //                         @include box_shadow_dark;

    //                         .imgOuterLayer{
    //                             .imageDetails{
                                    
    //                                 .imageDetailsDummyWrap{
    //                                     img{
    //                                         filter: saturate(1.25);
    //                                     }
    //                                 }

    //                                 .imageTitleContainer{
                                       
    //                                     p{
    //                                         background: $white;
    //                                         opacity: 1;
    //                                         // color: yellow;
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                     }
    //             }

    //                }

                   
               
    //        }
           
    //    }

       
} 