@import "_mixins";
@import "_vars";

@include includeCommonStyles;
@include ignoreDefaultStyles;


// Navbar in Start page styles
.wrapperForNavbar{
    nav{
        width: 100%;
        background: $white;

        .navbarHeaderClass{
            @include flexCentreRow;
            min-height: 3em;
            justify-content: flex-end;
            margin: 0 0.5em;
            
            .rollingLogsLogo{

            }

            article{

            }

            .loginAndSignUpButtons{
                @include flexCentreRow;
                justify-content: flex-end;
                width: 97%;

                .signUpButton{
                    width: 10em;
                }

                .logInButton{
                    width: 10em;
                }
            }
        }
    }
}